<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data Master Jenis</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/manajemen_master/jenis">Data</a></li>
        <li class="active">Edit Data</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content">
          <form role="form" action="/manajemen_master/submit_edit" method="POST">
          <input type="hidden" name="id" value="<%= data[0].id%>">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label>Bidang</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <select class="form-control" name="bidang" id="bidang" data-search="true">
                        <option>BIDANG MULTISEKTOR</option>
                        <option>BIDANG SUMBER DAYA ENERGI DAN MINERAL (ESDM)</option>
                        <option>BIDANG PEKERJAAN UMUM</option>
                        <option>BIDANG CIPTA KARYA</option>
                        <option>BIDANG KEBERSIHAN</option>
                        <option>BIDANG PERDAGANGAN</option>
                        <option>BIDANG PERINDUSTRIAN</option>
                        <option>BIDANG PERTANIAN</option>
                        <option>BIDANG PETERNAKAN</option>
                        <option>BIDANG PERKEBUNAN</option>
                        <option>BIDANG KEHUTANAN</option>
                        <option>BIDANG PERIKANAN</option>
                        <option>BIDANG PARIWISATA</option>
                        <option>BIDANG KESEHATAN</option>
                        <option>BIDANG PERHUBUNGAN</option>
                        <option>BIDANG KOMUNIKASI DAN INFORMATIKA</option>
                        <option>BIDANG PERTAHANAN</option>
                        <option>BIDANG PENGEMBANGAN NUKLIR</option>
                        <option>BIDANG PENGOLAHAN LIMBAH B-3</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Jenis Usaha/Kegiatan</label>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                      <input type="text" class="form-control" name="jenis" id="" value="<%= data[0].jenis%>">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <hr/>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                      <ul class="list-inline m-b-0">
                        <li><span class="btn btn-warning btn-sm btn-block btn-embossed" id="add_row">Tambah</span></li>
                        <li><span class="btn btn-danger btn-sm btn-block btn-embossed" id='delete_row'>Hapus</span></li>
                      </ul> 
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <table class="table table-bordered m-b-0" id="table-satuan">
                        <thead>
                          <tr>
                            <th style="text-align: center;">Satuan</th>
                            <th style="text-align: center;">Batas Minimal</th>
                            <th style="text-align: center;">&#8804;</th>
                            <th style="text-align: center;">X</th>
                            <th style="text-align: center;">&#8804;</th>
                            <th style="text-align: center;">Batas Maximal</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% var xx; for(var i=0; i<rumus.length; i++){ %>
                          <tr  id='addr0'>
                            <td><input type="text" class="form-control" name="satuan[]" id="" value="<%= rumus[i].satuan%>"></td>
                            <td><input type="text" class="form-control" name="batas_min[]" id="" value="<%= rumus[i].batas_min%>"></td>
                            <td>
                              <select class="form-control" name="simbolmin[]" id="" data-search="true">
                                <option value="">-- Pilih --</option>
                                <option value="<=" <%if(rumus[i].simbolmin=="<="){%>selected<%}%>>&#8804;</option>
                                <option value="<" <%if(rumus[i].simbolmin=="<"){%>selected<%}%>><</option>
                              </select>
                            </td>
                            <td style="text-align: center;">X</td>
                            <td>
                              <select class="form-control" name="simbolmax[]" id="" data-search="true">
                                <option value="">-- Pilih --</option>
                                <option value="<=" <%if(rumus[i].simbolmax=="<="){%>selected<%}%>>&#8804;</option>
                                <option value="<" <%if(rumus[i].simbolmax=="<"){%>selected<%}%>><</option>
                              </select>
                            </td>
                            <td><input type="text" class="form-control" name="batas_max[]" id="" value="<%= rumus[i].batas_max%>"></td>
                          </tr>
                          <tr id='addr<%= i+1%>'></tr>
                          <% xx=i+1}%>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                  

                </div>
                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020</span>
        <span>Pemerintah</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">
$("#bidang").val("<%= data[0].bidang%>")
            
            $("#add_row").click(function(){
              var i=<%= xx%>;
                $('#addr'+i).html("<td><input type='text' class='form-control' name='satuan[]' id=''></td><td><input type='text' class='form-control' name='batas_min[]' id=''></td><td><select class='form-control' name='simbolmin[]' id='' data-search='true'><option value=''>-- Pilih --</option><option value='<='>&#8804;</option><option value='<'><</option></select></td><td style='text-align: center;'>X</td><td><select class='form-control' name='simbolmax[]' id='' data-search='true'><option value=''>-- Pilih --</option><option value='<='>&#8804;</option><option value='<'><</option></select></td><td><input type='text' class='form-control' name='batas_max[]' id=''></td>");

                $('#table-satuan').append('<tr id="addr'+(i+1)+'"></tr>');
                i++; 
            });
            $("#delete_row").click(function(){
              var i=<%= xx%>;
                if(i>1){
                    $("#addr"+(i-1)).html('');
                    i--;
                }
            });

            $(".table tbody").on('click','deleterow2',function(){
                $(this).closest('tr').remove();
            }) 
</script>